@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body, html {
    height: 100%;
    margin: 0;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px #00f7ff;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -4vh;
    z-index: 1;
}

.buttons button {
    padding: 1.5vh 2vw;
    font-size: 2vw;
    background-color: #303030;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.buttons button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2vh); 
}

.buttons button.active {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2vh); 
    background-color: #505050; /* Optional: change color for active button */
}

.context > div {
    display: none; /* Hide all context divs initially */
    position: relative;
}

.context > div.active {
    display: block; /* Show active context div */
}

.center-div {
    position: relative;
    width: 70vw;
    height: 70vh;
    background-color: #252525;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    color: white;
    padding-left: 10px;
    font-size: 1.5vw;
    z-index: 1;
}

.center-bg {
    position: fixed;
    inset: 0px;
    width: 12rem;
    height: 5rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    width: 50vw;
    height: 50vh;
    background-image: url("fox.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain;
    background-color: #252525;
}

footer {
    background-color: #252525;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
